/*    
.container{
    background-color: white;
    opacity: .9;
    border-radius: 4px;
    display: block;
    width:90%;   
    position: absolute;              
    margin-top: 10px;  
    margin-left: 15px; 
    padding: 5px
} */

/* .registerButton {
    background-color: white;
    border-radius: 4px;
    display: block;
    width:90%;   
    position: absolute;              
    margin-top: 500px;  
    margin-left: 15px; 
    padding: 5px;             
} */
/* p{
    color: #fd7e14;
} */

/* #myImageRegister{
    margin: 30px;;
} */

/* .registerAll {
    height: 500px;
    display: block;
    width:90%;   
    position: absolute;              
    margin-top: 80px;  
    margin-left: 15px; 
    padding: 5px;         
} */

/* .btn-register{
    padding-left: 40px;
    padding-right: 40px;
} */
/* title{
    text-align: center;
} */

/* .btn-cancel{
    background-color: red;
    border: red;
    padding-left: 45px;
    padding-right: 45px;
} */

/* .image{
    
    height: 100px;
    width: 100px;
} */